/* TODO Add site wide styles */
@import 'reset.css';

.clock {
  display: flex;
  background-color: blue;
  max-width: 300px;
  color: rgba(255, 255, 0, 0.801);
}

.time {
  text-align: right;
}

.actual-times {
    justify-content: flex-end;
}
